*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header
{
    width: 100%;
    height: 60px;
    background-color: #0D1117;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 1000;
}
.header-img
{
    width: 55px;
    height: 55px;
    margin-left: 250px; 
    margin-top: 0px;
    float:left;
}
.header-img:hover
{
    margin-top: 0px;
    width: 60px;
    height: 60px;
}
.header_list
{
    font-family: "Delius", cursive;
    font-style: normal;
    list-style: none;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
}
.header_list li 
{
    display: inline-block;
    margin-left: 30px;
    margin-top: auto;
    color: #F8F9FA;
    font-size: 20px;
}
.header_list li a 
{
    color: #F8F9FA;
    text-decoration: none; 
}
.header_list li a:hover
{
    color: #2ECC71;
    font-size: 22px;
}
/*///////////////////////////////////////////////*/
.page1
{
    width: 100%;
    height: 100%;
    margin-top: 60px;
    background-color: #0D1117;
    overflow: auto;
}
.general-page
{
    text-align: center;
    margin-top: 200px;
}
.general-title
{
    font-family: "Gelasio", serif;
    font-style: normal;
    font-size: 60px;
    color: #2ECC71;
}
.general-p
{
    font-family: "Delius", cursive;
    font-style: normal;
    font-size: 35px;
    opacity: 0.7;
    color: #8B949E;
    margin: 20px 0px;
}
.btn-start, .btn-more
{
    font-family: "Sour Gummy", sans-serif;
    font-style: normal;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
}
.btn-start
{
    color: #0D1117;
    background-color: #2ECC71;
    border: 2px solid #2ECC71;
}
.btn-more
{
    color: #0D1117;
    background-color: #F8F9FA;
    border: 2px solid #F8F9FA;
}
.btn-start:hover, .btn-more:hover
{
    opacity: 0.5;
}
/*//////////////////////////////////////*/
.page2
{
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
    overflow: auto;
    text-align: center;
}
.welcome-page
{ 
   margin-top: 100px;
   margin-bottom: 75px;
   background-color:#F8F9FA;
}
.welcome-title
{
    font-family: "Gelasio", serif;
    font-style: normal;
    font-size: 40px;
}
.underline-welcome
{
    transition: 0.5s;
    width: 200px;
    height: 3px;
    background-color:#2ECC71;
    margin: auto;
}
.welcome-page:hover .underline-welcome
{
    width: 400px;
}
.container
{
    width: 80%;
    margin: auto;
}
.about-content
{
    overflow: auto;
}
.about-item
{
    position: relative;
    border: 2px solid #0D1117;
    float: left;
    width: 30%;
    text-align: center;
    height: 250px;
    padding-top: 5px;
    z-index: 1;
    border-radius: 20px;
}
.about-overlay
{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.about-overlay i
{
    color: #0D1117;
    font-size: 30px;
    margin-top: 25px;
}
.about-item:after
{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #0D1117;
    opacity: 0;
    transition: 1s;
    z-index: 0;
    border-radius: 15px;
}
.about-item:hover::after
{
    height: 100%;
    width: 100%;
    opacity: 1;
}
.about-item:before
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #0D1117;
    opacity: 0;
    transition: 1s;
    z-index: 0;
    border-radius: 15px;
}
.about-item:hover::before
{
    height: 100%;
    width: 100%;
    opacity: 1;
}
.about-item i
{
    transition: 1s;
}
.about-item:hover i
{
    color: #2ECC71;
}
.about-item:hover .about-header
{
    color: #F8F9FA;
}
.abitm2
{
    margin: 0% 5%;
}
.about-header
{
    font-size: 35px;
    color: #0D1117;
    margin-bottom: 15px;
    margin-top: 20px;
    font-family: "Gelasio", serif;
    font-style: normal;
    transition: 1s;
}
.about-p
{
    font-family: "Delius", cursive;
    font-style: normal;
    font-size: 20px;
    margin: 0px 5px 20px 5px;
    color: #8B949E;
}
.about-link
{
    font-family: "Sour Gummy", sans-serif;
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    color: #2ECC71;
}
/*////////////////////////////////////////////*/
.page3
{
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
    overflow: auto;
}
.profile-content
{
    overflow: auto;
}
.pcontent2
{
    margin-top: 55px;
}
.profile-item
{
    position: relative;
    float: left;
    width: 30%;
}
.proitm2, .proitm5
{
    margin: 0% 5%;
}
.profile-image
{
    position: relative;
    width: 320px;
    margin: auto;
}
.profile-image img
{
    width: 100%;
}
.profile-overlay
{
    visibility: hidden;
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 1;
    background-color: hsla(216, 28%, 7%,0.7);
    transition: 1s;
}
.profile-item:hover .profile-overlay
{
    visibility: visible;
    background-color: hsla(216, 28%, 7%,0.7);
    top: 0;
}
.member-name
{
    font-family: "Gelasio", serif;
    font-style: normal;
    font-size: 30px;
    margin-top: 120px;
    color: #F8F9FA;
}
.member-job
{
    font-family: "Delius", cursive;
    font-style: normal;
    font-size: 20px;
    margin-top: 10px;
    color: #F8F9FA;
    padding-bottom: 15px;
}
.member-icons 
{
    font-size: 20px;
    background-color: #F8F9FA;
    margin: auto;
    width: 80px;
    height: 30px;
    border-radius: 15px;
}
.member-icons a i
{
    line-height: 30px;
    color: #2ECC71;
}
.micn2
{
    padding-left: 10px;
}
/*//////////////////////////////////////////*/
.page4
{
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
    overflow: auto;
    text-align: center;
}
.service-page
{ 
   margin-top: 100px;
   margin-bottom: 60px;
   background-color:#F8F9FA;
}
.service-title
{
    font-family: "Gelasio", serif;
    font-style: normal;
    font-size: 40px;
}
.underline-service
{
    transition: 0.5s;
    width: 100px;
    height: 3px;
    background-color:#2ECC71;
    margin: auto;
}
.service-page:hover .underline-service
{
    width: 200px;
}
.service-content
{
    overflow: auto;
}
.service-item
{
    float: left;
    width: 30%;
    border: 2px solid #0D1117;
    position: relative;
    height: 200px;
    z-index: 1;
    overflow: auto;
    border-radius: 20px;
}
.seitm2, .seitm5
{
    margin: 0% 5%;
}
.scontent2
{
    margin-top: 50px;
}
.service-overlay
{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.service-overlay i
{
    float: left;
    display: inline;
    color: #2ECC71;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
}
.service-overlay h6
{
    font-family: "Gelasio", serif;
    font-style: normal;
    color: #0D1117;
    font-size: 25px;
    padding-top: 20px;
    text-align: left;
}
.service-overlay p
{
    font-family: "Delius", cursive;
    font-style: normal;
    color: #8B949E;
    text-align: center;
    padding: 0 15px;
    font-size: 20px;
    margin-top: 40px;
}
.service-item:after
{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #0D1117;
    opacity: 0;
    transition: 0.5s;
    z-index: 0;
}
.service-item:hover::after
{
    height: 100%;
    width: 100%;
    opacity: 1;
}
.service-h
{
    transition: 1s;
}
.service-item:hover .service-h
{
    color: #F8F9FA;
}
/*////////////////////////////////////////////*/
.page5
{
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
    overflow: auto;
}
.notes-page
{ 
   margin-top: 70px;
   margin-bottom: 60px;
   background-color:#F8F9FA;
   margin-left: 200px;
}
.notes-title
{
    font-family: "Gelasio", serif;
    font-style: normal;
    font-size: 40px;
    padding-bottom: 10px;
}
.underline-notes
{
    transition: 0.5s;
    width: 100px;
    height: 3px;
    background-color:#2ECC71;
}
.notes-page:hover .underline-notes
{
    width: 270px;
}
.notes-image
{
    margin-top: -30px;
    margin-left: 120px;
    float: left;
    width: 500px;
    height: 450px;
}
.notes-image img
{
    width: 100%;
    height: 450px;
    border-radius: 30px;
    border: 5px solid #2ECC71;
}
.ul-div
{
    width: 130px;
    font-size: 50px;
    margin-left: 185px;
}
.notes-ul 
{
    margin-top: -10px;
    margin: auto;
}
.notes-ul li
{
    transition: 0.5s;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #8B949E;
    display: inline-block;
}
.notes-li2
{
    margin: 0 15px;
}
.notes-li1:hover, .notes-li2:hover, .notes-li3:hover
{
    background-color: #2ECC71;
}
.notes-list
{
    margin-top: -30px;
    margin-right: 120px;
    float: right;
    border: 2px solid #0D1117;
    border-radius: 30px;
    width: 700px;
    height: 500px;
}
.notes-list p
{
    font-family: "Delius", cursive;
    font-style: normal;
    padding: 40px 30px 60px 30px;
    font-size: 30px;
}
.list-item
{
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 25px;
}
.list-item i
{
    color: #2ECC71;
    padding-right: 10px;
}
.list-item span
{
    font-family: "Delius", cursive;
    font-style: normal;
    color: #8B949E;
}
.notes-spn:hover
{
    color: #0D1117;
    font-size: 27px;
}
/*//////////////////////////////////////////*/
.page6
{
    width: 100%;
    height: 100%;
    background: url(../Images/background-1.jpg) no-repeat fixed center;
    background-size: cover;
}
.top-p6
{
    background-color: #F8F9FA;
    width: 100%;
    height: 30%;
}
.mid-p6
{
    width: 100%;
    height: 40%;
    background-color: hsla(216, 28%, 7%, 0.7);
    overflow: auto;
    margin-top: auto;
    text-align: center;
}
.mid-item
{
    float: left;
    width: 20%;
    margin-top: 80px;
}
.mditm1
{
    margin-left: 2.5%;
}
.mditm2
{
    margin: 80px 5% 0 5%;
}
.mditm3
{
    margin: 80px 5% 0 0;
}
.mid-item i
{
    font-size: 30px;
    background-color: #F8F9FA;
    border-radius: 20%;
    padding: 10px;
}
.mid-item h6
{
    font-family: "Gelasio", serif;
    font-style: normal;
    font-size: 35px;
    padding: 20px 0 5px 0;
    color: #F8F9FA;
}
.mid-item p
{
    font-family: "Delius", cursive;
    font-style: normal;
    font-size: 25px;
    color: #F8F9FA;
}
.bottom-p6
{
    background-color: #F8F9FA;
    width: 100%;
    height: 30%;
}
/*/////////////////////////////////////////*/
.page7
{
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
    overflow: auto;
    text-align: center;
}
.price-page
{ 
   margin-top: 100px;
   margin-bottom: 40px;
   background-color:#F8F9FA;
}
.price-title
{
    font-family: "Gelasio", serif;
    font-style: normal;
    font-size: 40px;
}
.underline-price
{
    transition: 0.5s;
    width: 70px;
    height: 3px;
    background-color:#2ECC71;
    margin: auto;
}
.price-page:hover .underline-price
{
    width: 150;
}
.price-content
{
    overflow: auto;
    padding-bottom: 50px;
}
.price-item
{
    position: relative;
    border: 2px solid #0D1117;
    float: left;
    width: 30%;
    text-align: center;
    height: 450px;
    z-index: 1;
    border-radius: 20px;
}
.price-overlay
{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.price-item:after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #0D1117;
    opacity: 0;
    transition: 1s;
    z-index: 0;
    border-radius: 15px;
}
.price-item:hover::after
{
    height: 100%;
    width: 100%;
    opacity: 1;
}
.price-h
{
    font-family: "Gelasio", serif;
    font-style: normal;
    transition: 0.5s;
}
.price-item:hover .price-h
{
    color: #F8F9FA;
}
.pritm2
{
    margin: 0% 5%;
}
.price-h
{
    font-size: 35px;
    color: #0D1117;
    margin-bottom: 20px;
    margin-top: 40px;
}
.value
{
    font-family: "Delius", cursive;
    font-style: normal;
    color: #0D1117;
    width: 100px;
    height: 100px;
    border: 2px solid #2ECC71;
    font-size: 30px;
    margin: auto;
    border-radius: 50px;
    padding-top: 30px;
    transition: 0.5s;
}
.price-item:hover .value
{
    color: #F8F9FA;
}
.price-spn
{
    font-family: "Delius", cursive;
    font-style: normal;
    display: block;
    font-size: 20px;
    margin: 40px 10px;
    color: #8B949E;
}
.price-btn
{
    font-family: "Sour Gummy", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #F8F9FA;
    padding: 10px;
    background-color: #2ECC71;
    border: 2px solid #2ECC71;
    border-radius: 20px;
    transition: 1s;
}
.price-item:hover button
{
    background-color: #F8F9FA;
    color: #2ECC71;
    border: 2px solid #F8F9FA;
}
/*//////////////////////////////////////////*/
.page8
{
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
    overflow: auto;
    text-align: center;
}
.branches-page
{ 
   margin-top: 150px;
   margin-bottom: 100px;
   background-color:#F8F9FA;
}
.branches-title
{
    font-family: "Gelasio", serif;
    font-style: normal;
    font-size: 40px;
}
.underline-branches
{
    transition: 0.5s;
    width: 100px;
    height: 3px;
    background-color:#2ECC71;
    margin: auto;
}
.branches-page:hover .underline-branches
{
    width: 220px;
}
.branches-content
{
    overflow: auto;
}
.branches-item
{
    float: left;
    width: 30%; 
    background-color: #ebebeb;
    padding-top: 15px;
    border-radius: 20px;
    position: relative;
}
.britm2
{
    margin: 0 5%;
}
.branches-image
{
    width: 90%;
    margin: auto;
    position: relative;
}
.branches-image img
{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}
.branches-overlay
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(216, 28%, 7%, 0.4);
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.branches-item:hover .branches-overlay
{
    visibility: visible;
    opacity: 0.8;
}
.branches-overlay a
{
    display: block;
    width: 40px;
    height: 40px;
    color: #2ECC71;
    font-size: 30px;
    background-color: #F8F9FA;
    margin-left: auto;
}
.b-link1
{
    margin-top: 40px;
}
.branches-overlay a i
{
    line-height: 40px;
}
.branches-number
{
    font-family: "Gelasio", serif;
    font-style: normal;
    margin-bottom: 10px;
}
.branches-country
{
    font-family: "Delius", cursive;
    font-style: normal;
    font-size: 20px;
}
.branches-info
{
    padding: 15px 0 10px 0;
}
.branches-item::after
{
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #0D1117;
    opacity: 0;
    transition: 1s;
    border-radius: 20px;
}
.branches-item:hover::after
{
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
/*////////////////////////////////////*/
.page9
{
    width: 100%;
    height: 100%;
    background: url(../Images/background-2.jpeg) no-repeat fixed center;
    background-size: cover;
}
.top-p9
{
    background-color: #F8F9FA;
    width: 100%;
    height: 25%;
}
.mid-p9
{
    width: 100%;
    height: 50%;
    background-color: hsla(216, 28%, 7%, 0.7);
    overflow: auto;
    margin-top: auto;
    text-align: center;
}
.mid-content
{
    overflow: auto;
}
.mid9-item
{
    float: left;
    width: 30%;
}
.mditm1-9 , .mditm3-9
{
    margin-left: 15%;
}
.mditm2-9 , .mditm4-9
{
   margin-left: 10%; 
}
.midcon1
{
    margin-top: 50px;
}
.midcon2
{
    margin-top: 20px;
}
.mditm1-9 , .mditm2-9
{
    color: #F8F9FA;
    overflow: auto;
}
.boss-img
{
    display: inline;
    float: left;
}
.boss-img img
{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.boss-info
{
    float: left;
    margin-left: 20px;
    text-align: left;
    margin-top: 35px;
}
.boss-info h6
{
    font-family: "Gelasio", serif;
    font-style: normal;
    font-size: 30px;
}
.boss-info p
{
    font-family: "Delius", cursive;
    font-style: normal;
    font-size: 20px;
    margin-top: 5px;
}
.mditm3-9 , .mditm4-9
{
    font-family: "Delius", cursive;
    font-style: normal;
    font-size: 25px;
    color: #F8F9FA;
    text-align: left;
}
.bottom-p9
{
    background-color: #F8F9FA;
    width: 100%;
    height: 25%;
}
/*//////////////////////////////////////////*/
.page10
{
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
    overflow: auto;
    text-align: center;
}
.post-content
{
    overflow: auto;
    padding-bottom: 50px;
}
.post-item
{
    position: relative;
    border: 2px solid #8B949E;
    float: left;
    width: 30%;
    text-align: center;
    height: 600px;
    z-index: 1;
    border-radius: 20px;
    transition: 1s;
}
.post-overlay
{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.post-h
{
    overflow: auto;
}
.post-h img
{
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 50%;
}
.post-h span
{
    font-family: "Gelasio", serif;
    font-style: normal;
    float: left;
    margin-top: 10px;
    font-size: 20px;
}
.post-h i
{
    float: right;
    font-size: 20px;
    padding: 15px 20px 0 0;
    color: #0D1117;
}
.post-img
{
    overflow: auto;
}
.post-img img
{
    float: left;
    width: 96%;
    margin-left: 2%;
    border-radius: 5px;
}
.post-icn
{
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    color: #0D1117;
}
.comment
{
    padding-left: 30px;
}
.like-spn
{
    font-family: "Sour Gummy", sans-serif;
    font-style: normal;
    font-size: 20px;
}
.comment-spn
{
    font-family: "Sour Gummy", sans-serif;
    font-style: normal;
    padding-right: 30px;
    font-size: 20px;
}
.share-spn
{
    font-family: "Sour Gummy", sans-serif;
    font-style: normal;
    font-size: 20px;
}
.post-p
{
    font-family: "Delius", cursive;
    font-style: normal;
    text-align: left;
    font-size: 20px;
    padding: 20px 10px;
}
.post-item:after
{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #8B949E;
    opacity: 0.3;
    transition: 1s;
    border-radius: 15px;
    z-index: 3;
}
.post-item:hover::after
{
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
.post-item:hover
{
    border: 2px solid #F8F9FA;
}
.like
{
    transition: 1s;
}
.post-item:hover .like
{
    color: rgba(255, 0, 0, 0.569);
}
.poitm2
{
    margin: 0% 5%;
}
/*///////////////////////////////////////*/
.page11
{
    width: 100%;
    background-color: #F8F9FA;
    overflow: auto;
    text-align: center;
}
.content-p11
{
    width: 100%;
    background-color: #0D1117;
    padding-top: 20px;
}
.content-p11 img
{
    margin: auto;
    display: block;
    width: 150px;
    height: 150px;
}
.content-p11 i
{
    font-size: 35px;
    margin: 10px 5px;
    padding: 5px;
    background-color: #F8F9FA;
    color: #2ECC71;
    border-radius: 10px;
    transition: 0.5s;
}
.content-p11 p
{
    font-size: large;
    color: #8B949E;
    padding: 20px 0 50px 0;
    text-transform: uppercase;
}
.company-name
{
    text-transform: none;
    padding-left: 5px;
}
.fb-icn:hover, .x-icn:hover, .ig-icn:hover, .li-icn:hover, .m-icn:hover
{
    background-color: #2ECC71;
    color: #F8F9FA;
}